faiss-cpu
InstructorEmbedding
torch
langchain-huggingface
sentence-transformers
flask
flask-cors
googletrans
langchain==0.3.25
langchain-community==0.3.25
langchain-google-genai==2.1.5
httpx>=0.23,<1.0
